*{margin: 0;
    padding: 0;}
    body{background-color: rgb(148, 231, 155);}
    h1,h2{font-family: Georgia, 'Times New Roman', Times, serif;
         color:rgb(113, 113, 113);
        font-size: 2rem;
         text-align: center;
         padding-top: 10px;}